{{ some_text|replace("fun", "boring") }}
{{ some_text|replace("is", "was") }}
{{ ddd|replace("d", "e") }}
{{ ddd|replace("d", "e", 4) }}
{{ ddd|replace("d", "e", n_replace) }}
{{ isnone|replace(None, "nothing") }}
